audio{
    background-color: darkorange;
    border: solid;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: none;
    margin-left: 50px;
  }
  pre{
   text-align: none;
   font-family: fantasy; 
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: none;
    margin-left: 50px;
    color: black;
  }
  #header{
    color: rebeccapurple;
    font-size: 26px;
    font-family: serif;
    
  }
  footer{
    background-color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    font-weight: 300px;
    color: white;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 3px;
   
  }
  #h4{
    color: red;
    background-color: #f5f6fa;
    border-radius: 40px;
    font-family: fantasy;
    
  }
  #h2{
    background-color: white;
    border-radius: 40px;
      font-family: fantasy;
    
  }
  #h3{
    background-color: white;
    color: deeppink;
    border-radius: 40px;
      font-family: fantasy;
    
  }
  #h5{
    background-color: white;
    color: blue;
    border-radius: 40px;
      font-family: fantasy;
    
  }
  #h6{
    background-color: white;
    border-radius: 40px;
    box-shadow: 1px 1px 2px 2px #dcdde1;
    font-family: fantasy;
    
    
  }
  #card{
    margin-left: 40px;
    margin-right: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: whitesmoke;
    text-align: center;
     font-family: fantasy;
     
  }
  #home{
    background-color: none;
    text-align: center;
    font-family: fantasy;
    text-shadow: magenta;
  }
  #call{
    background-color: none;
    text-align: center;
    font-family: fantasy;
    box-shadow: rgb(red, green, blue);
    border: dashed;
    border-color: greenyellow;
  }
  #back{
    text-align: center;
    text-shadow: white;
    text-decoration-line: none;
    margin-left: 140px;
    border: solid;
    border-color: darkblue;
    background-color: blue;
    color: white;
  }
  
  #renu{
    font-family: Verdana;
  }
  #headline{
    background-color: whitesmoke;
   text-align: center; 
   font-family: fantasy;
   color: black;
  }
  #Sarkar{
    font-family: fantasy;
    font-size: 20px;
  }
  #Anushree{
    color: black;
  }
  #box{
    background: url(Pexles.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  #twitter{
    color: blue;
    background-color: white;
    
  }
  #instagram{
    color: deeppink;
    background-color: white;
  }
  #facebook{
    color: blue;
    background-color: white;
  }
  #pcall{
    color: deeppink;
    padding: 0  2px;
   margin: 0px 10px;
   background-color: white;
  }
  #contactme{
    color: ghostwhite;
  }
  #name{
    width: 100%;
    background-color: black;
  }
  #email{
    width:100%;
    background-color: black;
  }
  #message{
    width: 100%;
    background-color: black;
  }
  #animation{
    background-color: paleturquoise;
    transition-property: background-color;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
  }
  #animation:hover{
    background-color: moccasin;
  }
  #print{
    height: 15px;
    width: 16px;
  }